extends layout

block content
    h1= 'Some tradional dates in Tet holiday (all dates are in lunar calendar)'
    ul
        each thing in things
            li= thing.eng + ' (' + thing.viet + ') ' + ' : ' + thing.day

