doctype html
html
    head
        title= 'Vietnamese New Year'
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        a(href='/') Home
        br
        a(href='/food') Essential food
        br
        a(href='/flowers') Flowers & plants
        br
        a(href='/dates') Traditional dates

        block content
